name: Trigger auto deployment for infosrcbotapp2

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/infosrcbotapp2-AutoDeployTrigger-36cdb4b9-64a8-4b64-a8b7-24f57f9db37f.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.INFOSRCBOTAPP2_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: mybotacr123info.azurecr.io
          registryUsername: ${{ secrets.INFOSRCBOTAPP2_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.INFOSRCBOTAPP2_REGISTRY_PASSWORD }}
          containerAppName: infosrcbotapp2
          resourceGroup: infobot_RG
          imageToBuild: mybotacr123info.azurecr.io/infosrcbotapp2:${{ github.sha }}
          
            

     

